.About_Container {
  margin: 32px;
}

.About_Container h2{
  margin-top: 24px;
}

.About_Container h4 a{
  color: black;
  text-decoration: none;
  margin-top: 4px;
}

.About_Container h4 a:hover{
  text-decoration: underline;
}

.Alex_Hixson {
    float: right;
    height: 320px;
    margin-left: 12px;
    margin-bottom: 12px;
}