.project_description_contianer {
  margin-top: 48px;
  text-align: center;
}

.project_description_contianer h3 {
  font-weight: normal;
}

.project_description_contianer p{
  text-align: justify;
  text-indent: 32px;
  margin: 16px;
}

